.app_container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.panel_container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
}

.navbar {
  background-color:#1a1d24;
  height: 50px;
  -webkit-app-region: drag;
  z-index: 20;
  display: flex;
  flex-flow: row;
}

.left_panel {
  background-color: /*#434c5e*/ /*#16171f*/ #14161b;
  width: 300px;
  z-index: 10;
  display: flex;
  flex-flow: column;
}

.center_panel {
  background-color: #0b0c10;
  flex: 1 1 auto;
}

.right_panel {
  background-color: #434c5e;
  width: 300px;
  z-index: 10;
}

.footer {
  flex: 0 0 auto;
  overflow-y: hidden;
  background-color: #14161b;
  height: 80px;
  z-index: 20;
  display: flex;
  flex-flow: column;
}

.footer_wrapper {
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  align-items: center;
}

.np_wrapper {
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  width: 0px;
}