.app_container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.panel_container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
}

.navbar {
  background-color: #3b4252;
  height: 50px;
  -webkit-app-region: drag;
  z-index: 20;
}

.left_panel {
  background-color: /*#434c5e*/ #3d4657;
  width: 250px;
  z-index: 10;
}

.center_panel {
  background-color: #434c5e;
  flex: 1 1 auto;
}

.right_panel {
  background-color: #434c5e;
  width: 300px;
  z-index: 10;
}

.footer {
  background-color: #3b4252;
  height: 80px;
  z-index: 20;
  display: flex;
  flex-flow: column;
}

.footer_wrapper {
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  align-items: center;
}

.np_wrapper {
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  width: 0px;
}